doctype html
html(ng-ap="MyApp")
	style.
		.navbar {
			background:rgba(0,0,0,0.5);   /* for latest browsers */
		}
		
		.navbar-text {
			color: white;
			text-align: right;
			text-decoration: bold;
			size: 50px;
		}

		.datetime {
			color: white;
		}
	
	head
		title= title + " - dashboard"
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		script(src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js')
		script(src='//cdnjs.cloudflare.com/ajax/libs/moment.js/2.14.1/moment.min.js')
		link(rel='stylesheet', href='//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.2.0/css/bootstrap-theme.min.css')
		link(rel='stylesheet', href='//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.2.0/css/bootstrap.min.css')
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(href='https://fonts.googleapis.com/css?family=Roboto', rel='stylesheet', type='text/css')
		script(src='//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.2.0/js/bootstrap.min.js')
	body
		block content

	